* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: #ebebeb;
  background: linear-gradient(
    0deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(199, 217, 255, 1) 100%
  );
}
